@model IEnumerable<RecipeSPA.Models.Recipe>
@{
    ViewBag.Title = "Home Page";
}

@section scripts{    

    <script src="https://unpkg.com/moment@2.17.1"></script>
    <script src="https://unpkg.com/interactjs@1"></script>
    <script src="https://unpkg.com/angular@1.6.4/angular.js"></script>
    <script src="https://unpkg.com/angular-animate@1.6.4/angular-animate.js"></script>
    <script src="https://unpkg.com/angular-ui-bootstrap@2/dist/ui-bootstrap-tpls.js"></script>
    <script src="https://unpkg.com/rrule@2"></script>
    <script src="https://unpkg.com/angular-bootstrap-colorpicker@3"></script>
    <script src="https://unpkg.com/angular-bootstrap-calendar"></script>
    <script src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script src="~/lib/angular-material/angular-material.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/modal.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/js/helpers.js"></script>
    <script type="text/javascript" src="~/js/controllers/dialogController.js"></script>
    <script type="text/javascript" src="~/js/controllers/recipeController.js"></script>
    <script type="text/javascript" src="~/js/controllers/recipeListController.js"></script>
    <script type="text/javascript" src="~/js/controllers/chipController.js"></script>
}

    <div id="navigation">
        <div class="row">
            <div class="col-lg-12">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#">Configuration <i class="fa fa-cogs"></i><span class="sr-only">(current)</span></a></li>
                            <li><a href="#">Logout <i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-3">
            <div id="greeting" class="row">
                <h3>What's cooking today, <br/> Chef?</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-3">
            <div id="leftPanel" ng-controller="RecipeListController as rcpl">
                <div class="row">
                    <div id="searchField" class="col-lg-12">
                        <form class="navbar-form navbar-left" role="search" _lpchecked="1">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div id="list" class="col-lg-12">
                        <div class="list-group">
                            <a href="#" class="list-group-item">Recipe 1</a>
                            <a href="#" class="list-group-item">Recipe 2</a>
                            <a href="#" class="list-group-item">Recipe 3</a>
                        </div>
                        <div id="btnNewRecipe">
                            <a href="#" class="btn btn-success btn-lg btn-block" ng-click="rcpl.showModal(true)">+ Add New Recipe</a>
                        </div>

                        <div id="pagination">
                            <ul class="pagination pagination-sm">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>


                        <div>
                            <p>
                                View
                                <span>
                                    <select class="form-control" id="select">
                                        <option>10</option>
                                        <option>20</option>
                                        <option>30</option>
                                    </select>
                                </span>
                                at a time.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div id="calcontainer" class="col-lg-7">
            <div ng-controller="KitchenSinkCtrl as vm">
                <div id="calNav" class="row">
                    <button id="prev" class="btn btn-primary col-lg-2"
                            mwl-date-modifier
                            date="vm.viewDate"
                            decrement="vm.calendarView"
                            ng-click="vm.cellIsOpen = false">
                        Previous
                    </button>                    
                    <h4 id="calTitle" class="text-center col-lg-2 col-lg-offset-3" ng-cloak>{{ vm.calendarTitle }}</h4>
                    <button id="next" class="btn btn-primary col-lg-2 col-lg-offset-3"
                            mwl-date-modifier
                            date="vm.viewDate"
                            increment="vm.calendarView"
                            ng-click="vm.cellIsOpen = false">
                        Next
                    </button>
                </div>
                <div id="cal" class="row">
                    <mwl-calendar events="vm.events"
                                  view="vm.calendarView"
                                  view-title="vm.calendarTitle"
                                  view-date="vm.viewDate"
                                  cell-is-open="vm.cellIsOpen"
                                  day-view-split="30"
                                  cell-modifier="vm.modifyCell(calendarCell)"
                                  cell-auto-open-disabled="true"
                                  on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
                    </mwl-calendar>
                </div>
            </div>
        </div>
    </div>
