<div class="panel panel-success">
    <div id="rhead" class="panel-heading">
        <h2 class="panel-title title">Panel success</h2>
        <div class="servsize"><label for="size">Serving size: </label><input type="number" name="size" min="1" /></div>
    </div>
    <div id="rbody" class="panel-body">
        <form>
            <input type="number" min="0.01" step="0.01" />
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <select>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
        </form>
    </div>
</div>