/* site.css */

#main{
    font-family: Raleway,sans-serif;
    font-size: 16px;
}


#navigation{
    margin: 25px 100px;
}

#list{
    text-align: center;
}

#list a{
    text-align:left;
}
#list a i{
    text-align:right;
}

#list .list-group{
    margin-bottom: 0;
}

#list ul {
    margin: 8px auto 0 auto;
}

#list ul li a{
    color: #555555;
}

#list ul li.active a{
    background: #808080;
    color: #fff;
    border-color: #dddddd;
}

#greeting{
    margin: 0 0 40px 0;
    float:left;
}

#searchField {
    text-align: center;
    display: block;
    margin-bottom: 20px;
}


#calendar {
    width: 100%;
    height: 600px;
    background-color: darkred;
}

#btnNewRecipe{
    margin-bottom: 20px;
}

#btnNewRecipe a {
    text-align: center;
}


#list #select{
    display: inline;
    width: auto;
    margin: 0 5px;
}

#leftPanel{
    padding: 25px;
}

/* calendar */
[ng-cloak] {
    display: none;
}

body {
    box-sizing: border-box;
    padding: .3em;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


#calNav {
    text-align: center;
}

#cal-week-box {
    display: none;
}

#calcontainer {
    top: -90px;
}

mwl-calendar .cal-day-today {
    background-color: #dddddd;
}


/* Recipe Modal */

#rhead{
    height: 75px;
    background-color: #808080
}

#rhead .title {
    font-size: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    float: left;
    outline-color: transparent;
    background-color: transparent;
    color: #fff;
    width: auto !important;
    margin-right: 10px;
}

    #rhead  input::-webkit-input-placeholder {
        color: #dddddd !important;
    }

    #rhead input:-moz-placeholder { /* Firefox 18- */
        color: #dddddd !important;
    }

    #rhead input::-moz-placeholder { /* Firefox 19+ */
        color: #dddddd !important;
    }

    #rhead input:-ms-input-placeholder {
        color: #dddddd !important;
    }

#rhead .servsize {
    font-size: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;    
}

#rhead .servsize label {
    margin-right: 5px;
    margin-top: 7px;
}
.servsize input {
    color: #111111;
    width: 50px;
    text-align: center;
    font-family: inherit !important;
}

#rbody {
    width: auto !important;
    height: auto !important;
    min-height: 350px;
}

#rbody select{
    display: inline;
    width: auto !important;
}

#amount {
    color: #111111;
    width: 100px;
    text-align: center;
    float:left;
    margin-left: 5px;
}

#rbody .form-control{
    margin-right: 10px;
}

.amtcnt {
    float: left;
    margin-top: 3px;
}

.closeButton {
    position: relative;
    height: 24px;
    width: 24px;
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 3px;
    transition: background 0.15s linear;
    display: block;
}

.md-chips .md-chip-input-container {
    display: none;
}

/*.md-chips:after{
    display:none;
}*/

md-chips.md-default-theme .md-chips, md-chips .md-chips{
    box-shadow:none;
}
#confirm{
    margin-top: 50px;
}

#confirm button{
    display: inline;
}

#ingrContainer{
    margin-top: 10px;
}



